* {
    margin: 0;
    padding: 0;
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

body {

}
header.nav-menu-top {
margin: 0 auto;
width: 95%;
height: 80px;
border-radius: 50px;
margin-top: 30px;
background-color: grey;
}