* {
    margin: 0;
    padding: 0;
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

body {
/* position: relative; */
}
header.nav-menu-top {
    text-align: center;
    margin: 0 auto;
    width: 95%;
    height: 80px;
    border-radius: 50px;
    margin-top: 40px;
    background-color: grey;
}
aside.self-portrait {
    background-color: black;
    position: absolute;
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 1200px;
    width: 35%;
}